#bottom-spacer {
    padding-bottom: 70px;
}

body {
    background-color: #EEEDED;
}
input {
    background-color: #e6e6e6;
}

label {
    display: block;
}

button {
    background-color: #fae248;
    height: 3em;
    width: 10em;
    border: 1px solid black; 
    border-radius: 2em;
}

button:hover {
    background-color: #b3b300;
}
p {
    font-size: 3vh;
}