#eventBtnWrapper{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.renderContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.eventWrapper{
    border-radius: 1px;
    background-color:white;
    margin: 15px 100px 15px 100px;

}
#bandDateGenreWrapper{
    display: flex;
    justify-content: space-evenly;
}
.titleEach{
    color: blueviolet;
}
.bodyEach{
    flex-wrap: wrap;
}
.options,.externalNav{
    display: flex;
    justify-content: center;
}
.userEach,.genreEach,.dateEach{
    font-size: small;
}