#registerDiv {
    display: flex;
    justify-content: center;
    text-align: center;
}

#file-upload{ 
    display: none;
}

#cover-upload{
    display: none; 
}

#addAPhotoDiv {
    background-color: #e6e6e6;
    height: 5em;
    width: 5em; 
    border: 1px solid black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}