#registerDiv {
    display: flex;
    justify-content: center;
    text-align: center;
}

#file-upload{ 
    display: none;
}

input {
    background-color: #e6e6e6;
}

label {
    display: block;
}

button {
    background-color: yellow;
    height: 3em;
    width: 10em;
    border: 1px solid black; 
    border-radius: 2em;
}

button:hover {
    background-color: #b3b300;
}

#addAPhotoDiv {
    background-color: #e6e6e6;
    height: 5em;
    width: 5em; 
    border: 1px solid black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}