#contact-page {
    display: flex;
    flex-direction: column;
}

#contact-header {
    background-color: aqua;
}

#add-contact-btn {
    float: right;
}

#contact-icon {
    float: left;
}

#contact-item {
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid black;
}