#contact-page {
    display: flex;
    flex-direction: column;
}

#contact-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 70px;
    border-bottom: 1px solid black;
}

#contact-header > h1 {
    text-align: center;
    font-size: 3em;
}

#open-form-btn {
    height: 3em;
    width: 3em;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}

#add-contact-btn {
    height: 3em;
    width: 3em;
    float: right;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 1em;
    height: 70px;
    border-bottom: 1px solid black;
}

.contact-img-container {
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: #7325ac;
    overflow: hidden;
    text-align: center;
    z-index: 5;
    margin-left: 1em;
}

.contact-img-container > img {
    object-fit: contain;
    height: 100%;
    z-index: 5;
}

#contact-form-wrap {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

#contact-form-input {
    font-size: 2em;
}

#contact-form {
    position: relative;
}

#contact-icon {
    float: left;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-left: 1em;
}

