#inbox-page {
    display: flex;
    flex-direction: column;
    background-color: #EEEDED;
    width: 100vw;
}

#message-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 70px;
    height: 70px;
    background-color: #FAE248;
    border-bottom: 1px solid black;
    z-index: 999;
}

.message-top {
    display: flex;
    justify-content: space-between;
}

#message-header > h1 {
    text-align: center;
    font-size: 3em;
}

#new-message-btn {
    height: 3em;
    width: 3em;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}

.message-item {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 1em;
    gap: 1em;
    border-bottom: 1px solid black;
}

.message-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.message-text > p {
    text-overflow: ellipsis;
    white-space: pre-wrap;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
}

#message-form-wrap {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

#message-form-input {
    font-size: 2em;
}

#message-form {
    position: relative;
}

#go-direct-btn {
    height: 3em;
    width: 3em;
    float: right;
}

.message-img-container {
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: #7325ac;
    overflow: hidden;
    text-align: center;
    z-index: 5;
}

.message-img-container > img {
    object-fit: contain;
    height: 100%;
    z-index: 5;
}