#inbox-page {
    display: flex;
    flex-direction: column;
}

#message-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 70px;
    background-color: #FAE248;
    border-bottom: 1px solid black;
}

.message-top {
    display: flex;
    justify-content: space-between;
}

#message-header > h1 {
    text-align: center;
    font-size: 3em;
}

#new-message-btn {
    height: 3em;
    width: 3em;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}

.message-item {
    display: flex;
    align-items: center;
    padding: 1em;
    gap: 1em;
    border-bottom: 1px solid black;
}

.message-text {
    display: flex;
    flex-direction: column;
}

.message-text > p {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
}