* {
    margin: 0;
    padding: 0;
}

#welcome-container > h1 {
    font-size: 3em;
    margin: 1rem 0;
}

#welcome-footer,
#welcome-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#welcome-footer > a,
#welcome-btns > a {
    position: relative;
    border: 2px solid #000000;
    color: black;
    border-radius: 25px;
    width: 180px;
    height: 50px;
    text-decoration: none;
}

#welcome-footer > a,
#welcome-btns > a:first-child {
    background-color: yellow;
}

#welcome-footer > a > span,
#welcome-btns > a > span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#welcome-info {
    background-color: lightgray;
}

#welcome-footer {
    background-color: purple;
}

