#invite-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2vh 10vw;
}
#banner {
    font-family: inherit;
    align-self: center;
}
#email-input, #message-input {
    display: flex;
    flex-direction: column;
}
#email-input {
    margin-top: 3vh;
}
#email-text {
    font-size: 5vw;
}
#message-input {
    margin-top: 3vh;
}
#email-body {
    height: 30vh;
    margin-bottom: 2vh;
    font-size: 3vh;
}
#invite-button {
    
}