#header,
#footer {
    position: sticky;
    z-index: 10;
    background-color: #7E12b3;
    height: 70px;
}

.nav-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1em;
    height: 100%;
}

#header {
    top: 0;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bm-menu{
    display: flex;
    justify-content: center;
    background-color: rgba(180,180,180,4);
}
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 20px;
}
.bm-burger-bars {
    background: #e6ae14;
}
.bm-burger-bars-hover {
    background: #e6d514;
}
.bm-cross-button {
    height: 24px;
    width: 24px;
}
.bm-cross {
    background: #505253;
}
