#header,
#footer {
    position: sticky;
    z-index: 1000;
    background-color: #7E12b3;
    height: 70px;
}

.nav-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1em;
    height: 100%;
}

#header {
    top: 0;
}

#footer {
    z-index: 1;
    position: fixed;
    bottom: 0;
    width: 100%;
}
